.box {
	height: 300px;
	width: 300px;
	position: relative;
	display: inline-block;
	margin: 20px;
}

.box-in {
	position: absolute;
	height: 100%;
	width: 100%;
	transition: all 0.5s;
}

.box-front {
	background: orange;
	z-index: 1;
	backface-visibility: hidden;
}

.box-back {
	background: blue;
	transform: rotateY(180deg);
}

 
.box:hover .box-front {
	transform: rotateY(180deg);
}


.box:hover .box-back {
	transform: rotateY(0deg);
}


