* {
	box-sizing: border-box;
	text-align: center;
}


h1 {
	font-size: 3em;
}

.pulse {
	color: red;
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0%, 100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
}